[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
ipdb = "*"
flask-restful = "*"
flask-cors = "*"
sqlalchemy-serializer = "*"

[requires]
python_full_version = "3.8.13"